<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon (click)="close()" slot="end" name="close-outline"></ion-icon> 
    <ion-title id="lin4">Disponibilidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

  <ion-card>
    <ion-card-content>
      <ion-icon class="taxiIcon" name="car"></ion-icon>
      <h2 id="lin11">Bienvenido a nuestra página de disponibilidad de autos</h2>
      <p id="lin12">Aquí puedes agregar y administrar información sobre los autos disponibles.</p>
      <ion-button expand="block" id="lin42" (click)="formAuto()" (click)="close()" color="success">Agregar Auto</ion-button>
    </ion-card-content>
  </ion-card>
  
  

  <ion-card *ngFor="let i of dataModal">
  
    <ion-item *ngIf="i.modelo">
      <h3>Modelo: {{ i.modelo }}</h3>
    </ion-item>
    
    <ion-item *ngIf="i.patente">
      <h3>Patente: {{ i.patente }}</h3>
    </ion-item>
    
    <ion-item *ngIf="i.pato">
      <h3>Año: {{ i.pato }}</h3>
    </ion-item>
    
    <ion-item *ngIf="i.color">
      <h3>Color: {{ i.color }}</h3>
    </ion-item>
    
    <ion-item *ngIf="i.marca">
      <h3>Marca: {{ i.marca }}</h3>
    </ion-item>

    <ion-card>
      <ion-img *ngIf="i.imagenURL" [src]="i.imagenURL"></ion-img>
    </ion-card>
    
   
    
    
    
    </ion-card> 
   
     
  
</ion-content>
