
#ftPerfil{
    border-radius: 50px !important;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    height: 60px;
}
#nomPerfil{
    padding-left: 35px;
}
#nomAuto{
    padding-left: 75px;
}

ion-icon{
    font-size: 30px;
}

#forAuto{
    display: block;
    margin: 0 auto;
    width: 120px;
}

#lin42{
    font-family: 'mifuente', sans-serif;
}

.lin8{
    --background: linear-gradient(to right, #009929, #5ccb5f);
}

#lin4{
    font-family: 'mifuente', sans-serif;
}


#lin11{
    text-align: center;
    font-family: 'mifuente', sans-serif;
    color: black;
    margin-bottom: 10px;
}

#lin12{
    text-align: center;
    margin-bottom: 10px;
    
}

.taxiIcon{
    color: rgb(96, 188, 89);
    padding-left: 125px;
    font-size: 100px;

}


