<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>infoPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="lin52">
    <ion-col class="lin53" id="Disponible">
      <h3 class="lin54"><span id="tellevoApp">TeLlevoApp</span> es una solución a los estudiantes del 
        instituto <span id="duoc">Duoc</span><span id="uc">UC</span> que no poseen movilización</h3>
        <h5 id="lin56">TeLlevoAPP capaz de ser utilizada en plataformas tanto como Android e iOS que permita que los alumnos se
          organicen a través de la App para que puedan retornar a sus hogares utilizando vehículos de algunos alumnos que si tienen
          movilización propia. </h5>
    </ion-col>
    <ion-row>
      <ion-col >
        <button id="iniciar" (click)="play()"  expand="block">Play</button>
      </ion-col>
      <ion-col >
        <button id="Solicitar" (click)="stop()"  expand="block">Stop</button>
      </ion-col>
    </ion-row> 
  </ion-row>
  
  <ion-footer>
  <ion-toolbar class="footer" color="dark"> 
      <ion-row >
        <ion-col id="pintarFooter" size="12">
          <h3>TeLlevoApp</h3>
          <p>Tu solución de transporte confiable.</p>
        </ion-col>

        <ion-col id="pintarFooter" size="12">
          <h3>Contacto</h3>
          <p>Dirección: Duoc UC San Joaquin</p>
          <p>Teléfono: (123) 456-7890</p>
          <p>Email: info@tellevoapp.com</p>
        </ion-col>
      </ion-row>
    </ion-toolbar> 
  </ion-footer>
</ion-content>
