


<ion-header >
  <ion-toolbar>
      <ion-icon id="lin7" name="menu-outline" (click)="toggle()" slot="start"></ion-icon>

     
         <ion-row>                       
        <h1 id="teLlevo">TeLlevoApp</h1><ion-icon class="taxiIcon" name="car-sport-outline"></ion-icon>
        </ion-row>       
  </ion-toolbar>
 
</ion-header>


<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon name="close-outline" slot="end" (click)="cerrarMenu()"></ion-icon>
      <ion-title id="lin23">Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content scrollY="false">

    <ion-list>
      <ion-item (click)="perfil()">
        <ion-icon style="padding-right: 10px; color: rgb(96, 188, 89);" name="person-circle-outline"></ion-icon>
        <h3 id="lin31">Perfil</h3>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item (click)="logOut()">
        <ion-icon style="padding-right: 10px; color: rgb(96, 188, 89);" name="log-out-outline"></ion-icon>
        
        <h3 id="lin39">Cerrar Sesión</h3>
      </ion-item>
    </ion-list>

  </ion-content>
  
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> Tap the button in the toolbar to open the menu. </ion-content>
</div>



<ion-content [fullscreen]="true" class="animated-content">

  
  <h1 id="lin64">Maneja con TeLlevoApp</h1>
  <ion-icon id="chekitem" name="checkmark-done-outline"></ion-icon>
  <p id="lin65">permite a los estudiantes 
    conductores brindar un valioso servicio a otros estudiantes que no tienen 
    acceso a un automóvil, generando beneficios para todos.</p>
    <!-- intento de manu bajo -->
    <ion-tabs contentId="main-tab">
      <ion-tab-bar slot="bottom">
        <ion-tab-button id="lin81" (click)="modal()">
          <ion-icon style="color:  rgb(96, 188, 89);" name="car-sport-outline"></ion-icon>
          Disponibilidad
        </ion-tab-button>
        <ion-tab-button id="lin85" (click)="setOpen(true)">
          <ion-icon style="color: rgb(96, 188, 89);" name="map-outline"></ion-icon>
          Solicitar
        </ion-tab-button>
        <ion-tab-button id="lin89" (click)="info()">
          <ion-icon style="color: rgb(96, 188, 89);" name="information-circle-outline"></ion-icon>
          informacion
        </ion-tab-button>
        <!--<ion-tab-button tab="search">
          <ion-icon name="search"></ion-icon>
          Search
        </ion-tab-button> -->
      </ion-tab-bar>
    </ion-tabs>
    <!-- fin de menu bajo  -->
    
    <!-- botones -->
    <div class="opc1">
      <ion-button id="lin68" color="light" (click)="pero()" > Mas Información</ion-button>
    </div>
    <!-- botones del menu-pri -->
    <ion-card class="custom-card">
      <ion-card-content class="button-container">
        <ion-tab-button (click)="modal()">
          <ion-icon style="color: rgb(96, 188, 89);" name="car-sport-outline"></ion-icon>
          Disponibilidad
        </ion-tab-button>
        <div class="button-divider"></div> <!-- Esta línea crea la separación visual -->
        <ion-tab-button (click)="setOpen(true)">
          <ion-icon style="color: rgb(96, 188, 89);" name="map-outline"></ion-icon>
          Solicitar
        </ion-tab-button>
      </ion-card-content>
    </ion-card> 
    <!-- fin de los botones del menu-pri -->
    <!-- modal de solicitar -->
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title id="lin120">Solicitar</ion-title>
            <ion-buttons slot="end">
              <ion-icon slot="end" (click)="setOpen(false)" name="close-outline"></ion-icon>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-item>
            <ion-input id="Origen" label="Origen:" placeholder="DuocUc sede San Joaquin" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input id="Destino" label="Destino:" placeholder="Puente Alto" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-input id="Costo" label="Costo:" placeholder="$4.000" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-header>
            <ion-toolbar>
              <ion-title id="lin138">Metodos de pago</ion-title>
            </ion-toolbar>
          </ion-header>
          </ion-item>
          <ion-radio-group [(ngModel)]="radioBut" value="strawberries">
            <ion-item>
              <ion-icon slot="start" name="card"></ion-icon>
              <ion-label>
                <h2>Tarjeta de Crédito</h2>
                <p>Segura y rápida</p>
              </ion-label>
              <ion-radio slot="end" value="tarjeta"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="storefront-outline"></ion-icon>
              <ion-label>
                <h2>Banco estado</h2>
                <p>Utiliza tu cuenta de Banco estado</p>
              </ion-label>
              <ion-radio slot="end" value="paypal"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="cash"></ion-icon>
              <ion-label>
                <h2>Efectivo</h2>
                <p>Paga en efectivo</p>
              </ion-label>
              <ion-radio slot="end" value="dolares"></ion-radio>
            </ion-item>
          </ion-radio-group>
          <ion-row>
            <ion-col>
              <ion-button class="lin143" expand="block" (click)="confirmarSolicitud()" color="success">Confirmar</ion-button>
            </ion-col>
          </ion-row>
        </ion-content>
      </ng-template>
    </ion-modal>


    <!-- informacion de inicio -->
  
</ion-content>


