#titulo{
    display: flex;
    justify-content: center;
}
#msj{
    display: flex;
    justify-content: center;
    font-family: 'mifuente', sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 9px;
    font-size: large;
}

.lin143{
  margin-top: 20px;
  font-family: 'mifuente', sans-serif;
  
}

.menu{
  margin-top: 7px;
  padding-left: 10px;
}

ion-icon{
    font-size: 30px;
}

ion-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 #lin7{
  padding-left: 10px;
 }

#teLlevo{
   font-size: larger;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-family: 'mifuente', sans-serif;
  color: rgb(61, 61, 61); 
  
    

}

.taxiIcon{
    font-size: 35px;
    margin-top: 13px;
    padding-right: 20px;
    color: rgb(96, 188, 89);
}

.footer{
    margin-top: 100px;
}


ion-header{
    animation: fadeIn 1s ease-in;
}


  .opc1{
    
    padding-left: 30px;
    
  }



  @font-face {
    font-family: 'mifuente';
    src: url(/assets/fonts/LEMONMILK-Regular.otf) format('truetype');
    
  }

  body {
    font-family: 'mifuente', sans-serif;
  }

  #lin23{
    font-family: 'mifuente', sans-serif;

  }

  #lin31{
    font-family: 'mifuente', sans-serif;
    font-size: medium;
  }

  #lin39{
    font-family: 'mifuente', sans-serif;
    font-size: medium;
  }

  #lin81{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xx-small;
  }

  #lin85{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xx-small;
  }

  #lin89{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: xx-small;
  }

ion-tab-button{
  font-family: 'mifuente', sans-serif;
  
}

#lin120{
  font-family: 'mifuente', sans-serif;
}

#Origen{
  font-family: 'mifuente', sans-serif;
}

#Destino{
  font-family: 'mifuente', sans-serif;
}

#Costo{
  font-family: 'mifuente', sans-serif;
}

#lin138{
  font-family: 'mifuente', sans-serif;
}

h2{
  font-family: 'mifuente', sans-serif;
  font-size: medium;
}


#main-content {
  background-color: rgb(255, 255, 255); 
  
}

#lin9{
  height: 10%; /* O ajusta la altura según tus necesidades */
  width: 15%;  /* O ajusta el ancho según tus necesidades */

}
.animated-content{
  --background: linear-gradient(to right, #009929, #5ccb5f);
}

#lin64{
  color: white;
  font-family: 'mifuente', sans-serif;
  text-align: center;
  margin-top: 40px;
  font-size: xx-large;
}

#lin65{
  margin-top: 40px;
  color: white;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  line-height: 1.8;
}

#lin68 {
  margin-top: 20px;
  margin-left: 22px;
  color: gray;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  color: black;
  font-size: large;
  width:80%;  
  
}

#chekitem{
  color: white;
  font-size: 40px;
  padding-left: 170px;
  margin-top: 10px;
}
.button-container {
  display: flex;
  justify-content: space-around;
}
.button-divider {
  width: 2px; /* Ancho de la línea */
  background-color: rgb(96, 188, 89); /* Color de la línea */
  height: 60px; /* Altura de la línea (ajusta según sea necesario) */
  margin: 0 10px; /* Espacio entre la línea y los botones (ajusta según sea necesario) */
}

